.app{

position: fixed;
}
.logo{
    position: fixed;
    margin-left: 530px;
    margin-top: 240px;

}
.bottom{
   position: fixed;
   margin-top: 700px;
width: 100%;
}
.links{
    margin-left: 600px;
    position: fixed;
    margin-top: 500px;
}
.robot{
    margin-left: 340px;
    position: fixed;
    margin-top: 500px;

}
.guitar{
    margin-left:120px;
    position: fixed;
    margin-top: 100px;

}
.mobile{
    margin-left:1020px;
    position: fixed;
    margin-top: 520px;
}
.astronaut{
    margin-left:1120px;
    position: fixed;
    margin-top: 170px;
}
.camera{
    margin-left:320px;
    position: fixed;
    margin-top: 220px;
}
.controller{
    margin-left:920px;
    position: fixed;
    margin-top: 170px;
}
.helo{
    color: rgb(1, 255, 64);
    position: fixed;
    margin-left:730px;
    margin-top: 320px;
font-family: Arial, Helvetica, sans-serif;
}
.soon{
    color: rgb(1, 255, 64);
    position: fixed;
    margin-left:590px;
    margin-top: 440px;
    word-spacing: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}